body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
}

.terminal-text {
	color: green;
	font-family: Courier New;
	font-style: bold;
	font-size: 40px;
	width: 100vw;
	padding: 0 30px;
	position: absolute;
	top: 50%;
}